@model ReviewFormModel
@{
	ViewBag.Title = "Add Review";
}
<h2 class="text-center" style="padding-top: 20px">@ViewData["Title"]</h2>
<hr />

<partial name="_ReviewFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}