@using Microsoft.AspNetCore.Identity
@model IEnumerable<ReviewViewModel>
@inject SignInManager<IdentityUser> SignInManager
@inject IBakerService bakerService

@if (!Model.Any())
{
	<h2 class="text-center">No reviews yet!</h2>
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Clients Review UI </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/css/Review.css">
</head>

<body>
	<div class="container1">
		@if (SignInManager.IsSignedIn(User) && (await bakerService.ExistsByIdAsync(User.Id()) == false))
		{
			<a asp-controller="Review" asp-action="Add" type="button" class="btn button-like btn-outline-primary top-right-button">Add review</a>
		}
		<h2> Our Happy Clients </h2>
		<p class="description1">
			Here you can see all of the amazing reviews about our bakery! 
			If you have ordered from us please leave us a review. It would really help us. Thank you!
		</p>

		<div class="reviewSection1">

			@foreach (var review in Model)
			{
				<partial name="_ReviewPartial" model="@review" />
			}
		</div>
	</div>
</body>

</html>
