@model IEnumerable<ItemsDetailsViewModel>
@{
	ViewBag.Title = "My Basket";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">Your basket is empty!</h2>
}

<div class="row d-flex justify-content-center">
    @foreach (var item in Model)
    {
        <partial name="_BasketItemPartial" model="@item" />
    }
</div>
<div class="d-grid gap-2 position-relative" style="padding-top: 20px; padding-bottom: 20px;">
    <button class="btn btn-primary position-absolute top-50 start-50 translate-middle w-50" type="button">CHECKOUT</button>
</div>