@model IEnumerable<ProductServiceModel>
@{
    ViewData["Title"] = "My Products";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (Model.Any() == false)
{
    <h3 class="text-center">You have no products yet!</h3>
}

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_ProductPartial" model="@item" />
    }
</div>