

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtOmz5Z-6krGPifwh8jBKs0YUXsmro6LU"></script>

    <div id="map"></div>

    <script>
        function initMap() {
            var coordinates = { lat: 42.689192988795014, lng: 23.318452722169145 };

            var map = new google.maps.Map(document.getElementById('map'), {
                center: coordinates,
                zoom: 12 
            });

            var marker = new google.maps.Marker({
                position: coordinates,
                map: map,
                title: 'Your Location' 
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtOmz5Z-6krGPifwh8jBKs0YUXsmro6LU&callback=initMap">
    </script>

</body>
</html>