<!DOCTYPE html>
<html>
<head>
	<title>Display Geolocation</title>
</head>
<body>
	<h1>Specific Geolocation</h1>
	<div id="map" style="width: 400px; height: 300px;"></div>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
</body>
</html>
