.gradient-custom {
    background: #cd9cf2;
    background: -webkit-linear-gradient(rgba(255,187,58,1) 0%, rgba(255,239,0,1) 50%, rgba(255,187,58,1) 100%);
    background: linear-gradient(rgba(255,187,58,1) 0%, rgba(255,239,0,1) 50%, rgba(255,187,58,1) 100%);
}
