@model BakerChipModel

<div class="chip">
	<link rel="stylesheet" type="text/css" href="~/css/BakerChip.css" />
	<img src="@Model.ImageURL" alt="Person" width="96" height="96">
	<p>@Model.Name @Model.PhoneNumber</p>
</div>